# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.x
*.exe
*.out
*.app

# Data files
*.dat
*.txt
*.csv

# Misc. files
*.pro
*.pro.user
*.swp

# Folders
old*
__pycache__
homework

# Images
*.png
*.jpg
*.jpeg
*.pdf
